includeConfig 'server.config'

params.partition = null

process {
    executor = 'slurm'
    queue    = params.partition

    withLabel: process_load       { time = { 2.h  * task.attempt } }
    withLabel: process_qc         { time = { 1.h  * task.attempt } }
    withLabel: process_highmem    { time = { 12.h * task.attempt } }
    withLabel: process_insitutype { time = { 6.h  * task.attempt } }
    withLabel: process_diag       { time = { 4.h  * task.attempt } }
    withLabel: process_spatial    { time = { 3.h  * task.attempt } }
    withLabel: process_cci        { time = { 8.h  * task.attempt } }
    withLabel: process_smide      { time = { 4.h  * task.attempt } }
    withLabel: process_light      { time = { 1.h  * task.attempt } }
}

executor {
    queueSize       = 50
    submitRateLimit = '10 sec'
}
